body {
    min-width: 300;
}

.commentForm{
    width: 88%;
    height: 88;
}

.inputForm{
    width: 100%;
    height: 100%;
    text-align: start;
}

.buttonImage{
  max-width: 7%;
}

.switchButton{
    max-width: 20%;
}
